.js-carousel {
	&-wrap {
		position: relative;
		display: flex;
		transition: ease-out;
		transition-duration: .6s;
		touch-action: pan-y;
	}
	&-slide {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		background-color: lightgrey;
		&:last-child {
			margin-right: 0;
		}
	}
	&-navigation {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 50%;
		left: 50%;
		height: 0;
		max-width: 100vw;
		transform: translate(-50%, -50%);
	}
	&-arrow {
		position: relative;
		border-radius: 50%;
		background-color: #ddddddd9;
		&[aria-disabled="true"] {
			pointer-events: none;
			opacity: .3;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 10px;
			width: 17px;
			border: 3px solid var(--black);
			border-width: 3px 3px 0 0;
			aspect-ratio: 1 / 1;
			transform: translateY(-50%) rotate(45deg);
		}
	}
	&-prev {
		transform: scale(-1) translateY(50%);
	}
	&-next {
		transform: scale(1) translateY(-50%);
	}
	&-pagination {
		display: flex;
		justify-content: center;
		margin: 30px 0 2px;
	}
	&-bullet {
		border: 0;
		padding: 0;
		color: #fff;
		&.is-active {}
	}
}

@media screen and (max-width: 768px) {
	.js-carousel {
		&-wrap {
			transition-duration: .3s;
		}
		&-slide {
			max-width: var(--mo-wrap);
			width: 100%;
		}
	&-arrow {
		&::after {
			left: 6px;
			width: 10px;
			border-width: 2px 2px 0 0;
		}
	}
	}
}

