/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p, span, ul, li, strong, div, a, button {
	font-family: "Noto Sans", sans-serif;
	color: var(--black);
}
img, video, picture {
	width: 100%;
}

.contents {
	background-color: var(--black);
}

.blind {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.skip-link{
	position:absolute;
	left:-9999px;
	top:auto
}
.skip-link:focus{
	left:16px;
	top:16px;
	z-index:1000
}

.common {
	&-fixed {
		&-track {
			position: relative;
		}
		&-inner {
			position: sticky;
			top: var(--gnb-height);
			height: calc(100svh - var(--gnb-height));
			overflow: hidden;
		}
	}
	&-headline {}
	&-sub-headline {}
	&-title {
		font-size: 20px;
		line-height: 1.8;
		&strong {
			display: block;
		}
	}
	&-description {
		font-size: 16px;
		line-height: 1.5;
		&:last-child {
			margin-bottom: 10px;
		}
	}
	&-mobile {
		display: none;
	}
	&-wrap {
		padding: 100px 0;
	}
}
@keyframes rotate-text{
    100% {
        transform: rotate(1turn);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.common {
		&-headline {}
		&-sub-headline {}
		&-title {
			font-size: 18px;
		}
		&-description {
			font-size: 15px;
			&:last-child {
				margin-bottom: 8px;
			}
		}
		&-fixed {
			&-inner {
				top: var(--gnb-height-tb);
				height: calc(100svh - var(--gnb-height-tb));
			}
		}
		&-wrap {
			padding: 60px 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.common {
		&-title {
			font-size: 16px;
		}
		&-description {
			font-size: 12px;
			&:last-child {
				margin-bottom: 6px;
			}
		}
		&-fixed {
			&-inner {
				top: var(--gnb-height-mo);
				height: calc(100dvh - var(--gnb-height-mo));
			}
		}
		&-mobile {
			display: block;
		}
		&-wrap {
			padding: 30px 0;
		}
	}
}

