:root {
    --gnb-height: 80px;
    --gnb-height-tb: 60px;
    --gnb-height-mo: 40px;
    --black: #212532;
    --pink: #ad6f81;
    --mo-wrap: 312px;

    //overview
    --slide-width-large: 1200px;
    --slide-width-medium: 600px;
    --slide-width: 1000px;
    --slide-height: 720px;
}
