:root {
  --gnb-height: 80px;
  --gnb-height-tb: 60px;
  --gnb-height-mo: 40px;
  --black: #222;
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, span, ul, li, strong, div, a, button {
  font-family: "Noto Sans", sans-serif;
  color: var(--black);
}

img, video, picture {
  width: 100%;
}

.contents {
  background-color: var(--black);
}

.blind {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
}

.skip-link:focus {
  left: 16px;
  top: 16px;
  z-index: 1000;
}

.common-fixed-track {
  position: relative;
}
.common-fixed-inner {
  position: sticky;
  top: var(--gnb-height);
  height: calc(100svh - var(--gnb-height));
  overflow: hidden;
}
.common-title {
  font-size: 20px;
  line-height: 1.8;
}
.common-titlestrong {
  display: block;
}
.common-description {
  font-size: 16px;
  line-height: 1.5;
}
.common-description:last-child {
  margin-bottom: 10px;
}
.common-mobile {
  display: none;
}
.common-wrap {
  padding: 100px 0;
}

@keyframes rotate-text {
  100% {
    transform: rotate(1turn);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .common-title {
    font-size: 18px;
  }
  .common-description {
    font-size: 15px;
  }
  .common-description:last-child {
    margin-bottom: 8px;
  }
  .common-fixed-inner {
    top: var(--gnb-height-tb);
    height: calc(100svh - var(--gnb-height-tb));
  }
  .common-wrap {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .common-title {
    font-size: 16px;
  }
  .common-description {
    font-size: 12px;
  }
  .common-description:last-child {
    margin-bottom: 6px;
  }
  .common-fixed-inner {
    top: var(--gnb-height-mo);
    height: calc(100dvh - var(--gnb-height-mo));
  }
  .common-mobile {
    display: block;
  }
  .common-wrap {
    padding: 30px 0;
  }
}
.js-carousel-wrap {
  position: relative;
  display: flex;
  transition: ease-out;
  transition-duration: 0.6s;
  touch-action: pan-y;
}

.js-carousel-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 1000px;
  border-radius: 20px;
}
@media screen and (min-width: 1920px) {
  .js-carousel-slide {
    width: 1200px;
  }
}
.js-carousel-slide {
  aspect-ratio: 3/2;
  background-color: lightgrey;
  margin-right: 60px;
}
.js-carousel-slide:last-child {
  margin-right: 0;
}

.js-carousel-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  height: 0;
  width: 1060px;
}
@media screen and (min-width: 1920px) {
  .js-carousel-navigation {
    width: 1260px;
  }
}
.js-carousel-navigation {
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

.js-carousel-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: rgba(221, 221, 221, 0.8509803922);
}
.js-carousel-arrow[aria-disabled=true] {
  pointer-events: none;
  opacity: 0.3;
}
.js-carousel-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 17px;
  border: 3px solid var(--black);
  border-width: 3px 3px 0 0;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
}
.js-carousel-arrow .js-carousel-prev {
  transform: scale(-1) translateY(50%);
}
.js-carousel-arrow .js-carousel-next {
  transform: scale(1) translateY(-50%);
}

.js-carousel-pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 2px;
}

.js-carousel-bullet {
  padding: 8px;
  background: transparent;
  border: 0;
  padding: 0;
  width: 28px;
  border-right: 1px solid #fff;
  transition: width 0.6s;
  height: 40px;
  color: #fff;
}
.js-carousel-bullet.is-active {
  width: 120px;
  color: #fff;
}
.js-carousel-bullet:first-child {
  border-left: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .js-carousel-wrap {
    transition-duration: 0.3s;
  }
  .js-carousel-slide {
    display: block;
    max-width: 312px;
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 24px;
    margin-right: 20px;
    font-size: 20px;
  }
  .js-carousel-navigation {
    width: 340px;
  }
  .js-carousel-arrow {
    width: 30px;
    height: 30px;
  }
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 180px;
  height: auto;
  aspect-ratio: 1/1;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 2;
}
@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}
.cursor-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: #E07D9B;
  opacity: 0.8;
  border: 1px solid #E07D9B;
  border-radius: 50%;
}
.cursor-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  fill: #cfcfcf;
}
.cursor-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1.4px;
  transform-origin: 90px 90px;
}
@media (hover: hover) and (pointer: fine) {
  .cursor-text {
    animation: rotate-text 10s linear infinite;
  }
}

.gnb {
  position: sticky;
  top: 0;
  height: var(--gnb-height);
  z-index: 1;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid var(--black);
  box-shadow: 1px 1px 0px 0 #c8c8c8;
}
.gnb__wrap {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .gnb__wrap {
    max-width: 1920px;
    margin: auto;
  }
}
.gnb__button {
  min-width: 100px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 10px;
  border: 0;
  background-color: #ad6f81;
  transition: padding 0.3s;
  cursor: pointer;
}
.gnb__button.is-active {
  filter: invert(1);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .gnb {
    height: var(--gnb-height-tb);
  }
  .gnb__button {
    min-width: 90px;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .gnb {
    height: var(--gnb-height-mo);
  }
  .gnb__button {
    min-width: auto;
    padding: 10px;
    font-size: 12px;
    background: transparent;
    color: #ad6f81;
    font-weight: 700;
  }
}
.component-kv__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #c4c6c7;
  background-image: url(../images/noise.svg);
}
.component-kv__eyebrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column: 1;
  grid-row: 1;
}
.component-kv__eyebrow-skills-item {
  display: inline-block;
  text-align: right;
  line-height: 1.3;
}
.component-kv__headline {
  position: relative;
  display: grid;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.component-kv__headline::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  border-bottom: 1px solid var(--black);
  transform: translateX(-50%);
}
.component-kv__headline-position {
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  padding: 10px 0;
}
.component-kv__headline-position--bottom .component-kv__headline-text {
  transform: scaleY(0);
  transform-origin: bottom;
}
.component-kv__headline-position--top .component-kv__headline-text {
  transform-origin: top;
}
.component-kv__headline-text {
  position: relative;
  display: inline-block;
  font-size: 280px;
}
@media screen and (max-width: 1280px) {
  .component-kv__headline-text {
    font-size: 260px;
  }
}
.component-kv__headline-text {
  line-height: 1;
  font-family: "Fjalla One", sans-serif;
  color: var(--black);
  letter-spacing: -0.03em;
  transition-duration: 0.2s;
}
@media screen and (min-width: 1920px) {
  .component-kv__headline-text {
    font-size: 350px;
  }
}
.component-kv__bg::after, .component-kv__bg::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 60%;
  max-width: 1000px;
}
@media screen and (min-width: 1920px) {
  .component-kv__bg::after, .component-kv__bg::before {
    width: 1100px;
    max-width: none;
  }
}
.component-kv__bg::after, .component-kv__bg::before {
  background-repeat: no-repeat;
  background-size: 100%;
}
.component-kv__bg::after {
  right: 0;
  background-image: url(../images/tree-right.png);
  aspect-ratio: 731/195;
}
.component-kv__bg::before {
  left: 0;
  background-image: url(../images/tree-left.png);
  aspect-ratio: 933/380;
  z-index: 1;
}
.component-kv__bg img {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1155px) {
  .component-kv__bg img {
    height: 100%;
    width: auto;
  }
}
.component-kv__svg {
  display: block;
}
@media (orientation: landscape) {
  .component-kv__svg {
    display: none;
  }
}
.component-kv__svg-wrap {
  width: 100vw;
  height: 100vw;
}
.component-kv__svg-text {
  letter-spacing: 0.4px;
  fill: #666;
  transform-origin: 267px 267px;
  transition: transform 0.5s;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .component-kv__headline {
    margin-top: 40px;
  }
  .component-kv__headline-text {
    font-size: 180px;
  }
  .component-kv__bg::after, .component-kv__bg::before {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .component-kv__headline {
    margin-top: 30px;
  }
  .component-kv__headline-text {
    font-size: 24vw;
  }
  .component-kv__bg::after, .component-kv__bg::before {
    width: 300px;
  }
}
@media screen and (max-width: 768px) and (max-width: 534px) {
  .component-kv__bg::after, .component-kv__bg::before {
    width: 260px;
  }
}
@media screen and (max-width: 768px) {
  .component-kv__description {
    width: 100%;
    margin-bottom: auto;
    padding: 4%;
    background-color: #E07D9B;
    white-space: nowrap;
    mix-blend-mode: exclusion;
    font-size: 2.8vw;
  }
  .component-kv__svg {
    display: block;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .component-kv__svg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .component-kv__svg-wrap {
    width: 100vw;
    height: 100vw;
  }
  .component-kv__svg-text {
    letter-spacing: 0.4px;
    fill: #666;
    transform-origin: 267px 267px;
    transition: transform 0.5s;
  }
}
.component-overview {
  position: relative;
  overflow-x: hidden;
  touch-action: pan-y;
}
.component-overview__container {
  position: relative;
  width: 1000px;
}
@media screen and (min-width: 1920px) {
  .component-overview__container {
    width: 1200px;
  }
}
.component-overview__container {
  margin: 0 auto;
}
.component-overview__slide-title {
  position: absolute;
  bottom: 100%;
  font-size: 40px;
  line-height: 1.5;
}
.component-overview__slide-headline {
  position: relative;
  z-index: 10;
  width: 1000px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.component-overview__slide-headline-num {
  position: relative;
  bottom: -80px;
  line-height: 1;
  font-size: 230px;
  color: #fff !important;
  font-family: "Fjalla One", sans-serif;
}
.component-overview__slide-headline-title {
  color: #fff !important;
  top: 100px;
  left: 20px;
  font-size: 32px;
}
.component-overview__slide-content {
  position: relative;
  display: grid;
  height: 100%;
}
.component-overview__slide-image--main, .component-overview__slide-image--bg {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px;
  overflow: hidden;
}
.component-overview__slide-image--main {
  z-index: 1;
  flex-direction: column;
}
.component-overview__slide-image--active {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: bottom 0.6s, transform 0.6s;
}
.is-active .component-overview__slide-image--active {
  bottom: 40%;
  transform: scale(1);
}
.component-overview__slide-text {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 20px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.4705882353);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .component-overview__wrap {
    transition-duration: 0.3s;
  }
  .component-overview__container {
    width: 312px;
  }
  .component-overview__slide {
    display: block;
    max-width: 312px;
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 24px;
    margin-right: 20px;
    font-size: 20px;
  }
  .component-overview__slide-content {
    position: relative;
  }
  .component-overview__slide-text {
    width: 80%;
    min-height: 50%;
    padding: 12px;
    border-radius: 20px;
  }
  .component-overview__navigation {
    width: 340px;
  }
  .component-overview__arrow {
    width: 30px;
    height: 30px;
  }
}
