:root {
  --gnb-height: 80px;
  --gnb-height-tb: 60px;
  --gnb-height-mo: 40px;
  --black: #212532;
  --pink: #ad6f81;
  --mo-wrap: 312px;
  --slide-width-large: 1200px;
  --slide-width-medium: 600px;
  --slide-width: 1000px;
  --slide-height: 720px;
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, span, ul, li, strong, div, a, button {
  font-family: "Noto Sans", sans-serif;
  color: var(--black);
}

img, video, picture {
  width: 100%;
}

.contents {
  background-color: var(--black);
}

.blind {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
}

.skip-link:focus {
  left: 16px;
  top: 16px;
  z-index: 1000;
}

.common-fixed-track {
  position: relative;
}
.common-fixed-inner {
  position: sticky;
  top: var(--gnb-height);
  height: calc(100svh - var(--gnb-height));
  overflow: hidden;
}
.common-title {
  font-size: 20px;
  line-height: 1.8;
}
.common-titlestrong {
  display: block;
}
.common-description {
  font-size: 16px;
  line-height: 1.5;
}
.common-description:last-child {
  margin-bottom: 10px;
}
.common-mobile {
  display: none;
}
.common-wrap {
  padding: 100px 0;
}

@keyframes rotate-text {
  100% {
    transform: rotate(1turn);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .common-title {
    font-size: 18px;
  }
  .common-description {
    font-size: 15px;
  }
  .common-description:last-child {
    margin-bottom: 8px;
  }
  .common-fixed-inner {
    top: var(--gnb-height-tb);
    height: calc(100svh - var(--gnb-height-tb));
  }
  .common-wrap {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .common-title {
    font-size: 16px;
  }
  .common-description {
    font-size: 12px;
  }
  .common-description:last-child {
    margin-bottom: 6px;
  }
  .common-fixed-inner {
    top: var(--gnb-height-mo);
    height: calc(100dvh - var(--gnb-height-mo));
  }
  .common-mobile {
    display: block;
  }
  .common-wrap {
    padding: 30px 0;
  }
}
.js-carousel-wrap {
  position: relative;
  display: flex;
  transition: ease-out;
  transition-duration: 0.6s;
  touch-action: pan-y;
}
.js-carousel-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: lightgrey;
}
.js-carousel-slide:last-child {
  margin-right: 0;
}
.js-carousel-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  height: 0;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}
.js-carousel-arrow {
  position: relative;
  border-radius: 50%;
  background-color: rgba(221, 221, 221, 0.8509803922);
}
.js-carousel-arrow[aria-disabled=true] {
  pointer-events: none;
  opacity: 0.3;
}
.js-carousel-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 17px;
  border: 3px solid var(--black);
  border-width: 3px 3px 0 0;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
}
.js-carousel-prev {
  transform: scale(-1) translateY(50%);
}
.js-carousel-next {
  transform: scale(1) translateY(-50%);
}
.js-carousel-pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 2px;
}
.js-carousel-bullet {
  border: 0;
  padding: 0;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .js-carousel-wrap {
    transition-duration: 0.3s;
  }
  .js-carousel-slide {
    max-width: var(--mo-wrap);
    width: 100%;
  }
  .js-carousel-arrow::after {
    left: 6px;
    width: 10px;
    border-width: 2px 2px 0 0;
  }
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 180px;
  height: auto;
  aspect-ratio: 1/1;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 2;
}
@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}
.cursor-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: #E07D9B;
  opacity: 0.8;
  border: 1px solid #E07D9B;
  border-radius: 50%;
}
.cursor-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  fill: #cfcfcf;
}
.cursor-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1.4px;
  transform-origin: 90px 90px;
}
@media (hover: hover) and (pointer: fine) {
  .cursor-text {
    animation: rotate-text 10s linear infinite;
  }
}

.gnb {
  position: sticky;
  top: 0;
  height: var(--gnb-height);
  z-index: 10;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid var(--black);
  box-shadow: 1px 1px 0px 0 #c8c8c8;
}
.gnb__wrap {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .gnb__wrap {
    max-width: 1920px;
    margin: auto;
  }
}
.gnb__button {
  min-width: 100px;
  margin: 0 5px;
  padding: 15px;
  border-radius: 10px;
  border: 0;
  background-color: #ad6f81;
  transition: padding 0.3s;
  cursor: pointer;
}
.gnb__button.is-active {
  filter: invert(1);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .gnb {
    height: var(--gnb-height-tb);
  }
  .gnb__button {
    min-width: 90px;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .gnb {
    height: var(--gnb-height-mo);
  }
  .gnb__button {
    min-width: auto;
    padding: 10px;
    font-size: 12px;
    background: transparent;
    color: #ad6f81;
    font-weight: 700;
  }
}
.component-kv {
  background: linear-gradient(178deg, #605171 1%, #30304e 70%, #212532 100%);
}
.component-kv__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.component-kv__eyebrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column: 1;
  grid-row: 1;
}
.component-kv__eyebrow-skills-item {
  display: inline-block;
  text-align: right;
  line-height: 1.3;
  color: var(--pink);
}
.component-kv__eyebrow-job, .component-kv__eyebrow span {
  color: var(--pink);
}
.component-kv__headline {
  position: relative;
  display: grid;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.component-kv__headline::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  border-bottom: 1px solid var(--pink);
  transform: translateX(-50%);
}
.component-kv__headline-position {
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  padding: 10px 0;
}
.component-kv__headline-position--bottom .component-kv__headline-text {
  transform: scaleY(0);
  transform-origin: bottom;
}
.component-kv__headline-position--top .component-kv__headline-text {
  transform-origin: top;
}
.component-kv__headline-text {
  position: relative;
  display: inline-block;
  font-size: 280px;
}
@media screen and (max-width: 1280px) {
  .component-kv__headline-text {
    font-size: 260px;
  }
}
.component-kv__headline-text {
  line-height: 1;
  font-family: "Fjalla One", sans-serif;
  color: var(--pink);
  letter-spacing: -0.03em;
  transition-duration: 0.2s;
}
@media screen and (min-width: 1920px) {
  .component-kv__headline-text {
    font-size: 350px;
  }
}
.component-kv__image {
  z-index: -1;
  position: absolute;
  top: 3vw;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  transform: translateX(-50%);
}
.component-kv__image-cloud {
  display: flex;
  flex-direction: column;
}
.component-kv__image-cloud-1 {
  margin-left: -20vw;
}
.component-kv__image-cloud-2 {
  margin-left: 57vw;
  margin-top: -15vw;
  width: 110vw;
}
.component-kv__image-cloud-3 {
  margin-top: 35vw;
  margin-left: -38vw;
  transform: scale(1.5);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .component-kv__headline {
    margin-top: 40px;
  }
  .component-kv__headline-text {
    font-size: 180px;
  }
}
@media screen and (max-width: 768px) {
  .component-kv__headline {
    margin-top: 30px;
  }
  .component-kv__headline-text {
    font-size: 24vw;
  }
  .component-kv__description {
    width: 100%;
    margin-top: auto;
    padding: 4%;
    background-color: var(--pink);
    white-space: nowrap;
    mix-blend-mode: exclusion;
    font-size: 2.8vw;
  }
}
.component-overview {
  position: relative;
  overflow-x: hidden;
  touch-action: pan-y;
}
.component-overview__container {
  position: relative;
  width: var(--slide-width);
}
@media screen and (min-width: 1920px) {
  .component-overview__container {
    width: var(--slide-width-large);
  }
}
.component-overview__container {
  margin: 0 auto;
}
.component-overview__slide {
  width: var(--slide-width);
  min-height: 680px;
  border-radius: 20px;
}
@media screen and (min-width: 1920px) {
  .component-overview__slide {
    width: var(--slide-width-large);
  }
}
.component-overview__slide {
  margin-right: 120px;
}
.component-overview__slide-title {
  position: absolute;
  bottom: 100%;
  font-size: 40px;
  line-height: 1.5;
}
.component-overview__slide-headline {
  position: relative;
  z-index: 1;
  width: var(--slide-width);
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.component-overview__slide-headline-num {
  position: relative;
  bottom: -80px;
  line-height: 1;
  font-size: 230px;
  color: #fff !important;
  font-family: "Fjalla One", sans-serif;
}
.component-overview__slide-headline-title {
  color: #fff !important;
  top: 100px;
  left: 20px;
  font-size: 32px;
}
.component-overview__slide-content {
  position: relative;
  display: grid;
  height: 100%;
}
.component-overview__slide-image--main, .component-overview__slide-image--bg {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px;
  overflow: hidden;
}
.component-overview__slide-image--main {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
}
.component-overview__slide-image--active {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: bottom 0.6s, transform 0.6s;
}
.is-active .component-overview__slide-image--active {
  bottom: 40%;
  transform: scale(1);
}
.component-overview__slide-text {
  width: 60%;
  height: auto;
  margin: 60px auto;
  padding: 20px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.4705882353);
  overflow: hidden;
}
.component-overview__navigation {
  width: calc(var(--slide-width) + 60px);
}
@media screen and (min-width: 1920px) {
  .component-overview__navigation {
    width: calc(var(--slide-width-large) + 60px);
  }
}
.component-overview__arrow {
  width: 50px;
  height: 50px;
  border: 1px solid var(--black);
}
.component-overview .js-carousel-bullet {
  width: 28px;
  height: 40px;
  background: transparent;
  border-right: 1px solid #fff;
  transition: width 0.6s;
}
.component-overview .js-carousel-bullet.is-active {
  width: 120px;
}
.component-overview .js-carousel-bullet:first-child {
  border-left: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
  .component-overview__container {
    width: var(--slide-width-medium);
  }
  .component-overview__slide {
    width: var(--slide-width-medium);
    min-height: 400px;
    margin-right: 30px;
  }
  .component-overview__slide-headline {
    width: var(--slide-width-medium);
  }
  .component-overview__slide-headline-num {
    bottom: 0;
    font-size: 120px;
  }
  .component-overview__slide-headline-title {
    font-size: 16px;
    line-height: 1.6;
  }
  .component-overview__slide-text {
    margin: 30px auto;
  }
  .component-overview__navigation {
    width: calc(var(--slide-width-medium) + 60px);
  }
}
@media screen and (max-width: 768px) {
  .component-overview__container {
    width: var(--mo-wrap);
  }
  .component-overview__slide {
    aspect-ratio: 3/4;
    border-radius: 24px;
    aspect-ratio: 3/4;
    margin-right: 20px;
    font-size: 20px;
  }
  .component-overview__slide-headline {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  .component-overview__slide-headline-num {
    font-size: 70px;
  }
  .component-overview__slide-headline-title {
    font-size: 14px;
    line-height: 1.6;
  }
  .component-overview__slide-content {
    position: relative;
  }
  .component-overview__slide-text {
    width: 80%;
    min-height: 50%;
    padding: 12px;
    border-radius: 20px;
  }
  .component-overview__navigation {
    width: 340px;
  }
  .component-overview__arrow {
    width: 30px;
    height: 30px;
  }
}
.component-hover__inner {
  display: flex;
  max-width: 1440px;
}
@media screen and (max-width: 1440px) {
  .component-hover__inner {
    max-width: 1024px;
  }
}
.component-hover__inner {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
.component-hover__button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url(../images/noise.svg);
  border: 0;
  cursor: pointer;
}
.component-hover__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 800px;
}
@media screen and (max-width: 1440px) {
  .component-hover__box {
    height: 700px;
  }
}
.component-hover__box {
  margin: 5px;
  border-radius: 18px;
  overflow: hidden;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.66) 1%, rgba(255, 255, 255, 0.0901960784) 50%, rgba(0, 0, 0, 0.1411764706) 100%);
}
@media screen and (min-width: 768px) {
  .component-hover__box {
    transition: flex 0.6s;
    flex: 1;
  }
  .component-hover__box.is-active {
    flex: 20%;
  }
}
.component-hover__box--blue {
  background-color: #6ea8c1;
}
.component-hover__box--purple {
  background-color: #a697b8;
}
.component-hover__box--starlight {
  background-color: #d8b493;
}
.component-hover__box--orange {
  background-color: #d49883;
}
.component-hover__image {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) rotate(10deg);
  transition: top 1.2s, transform 1.2s;
}
.is-show .component-hover__image {
  top: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
}
.is-active .component-hover__image {
  transform: translate(-50%, -50%) rotate(0deg);
}
.component-hover__bg {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
}
.is-active .component-hover__bg {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.6s, transform 0.6s;
}
.component-hover__bg-text {
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.05em;
}
.component-hover__bg-text--stroke {
  color: transparent;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 1024px) {
  .component-hover__inner {
    padding: 0 24px;
  }
  .component-hover__box {
    height: 580px;
  }
}
@media screen and (max-width: 768px) {
  .component-hover__inner {
    flex-direction: column;
    max-width: 360px;
  }
  .component-hover__box {
    height: 120px;
    transition: height 0.6s;
  }
  .component-hover__box.is-active {
    height: 360px;
  }
  .component-hover__image {
    width: auto;
    height: 90%;
  }
  .component-hover__image img {
    width: auto;
    height: 100%;
  }
}
