<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Six+Caps&display=swap" rel="stylesheet">
</head>
<body>
	<div class="contents">
		{% include "gnb.html" %}
		{% include "kv.html" %}
		{% include "carousel.html" %}
	</div>
	<script type="module" src="/js/init.js"></script>
</body>
</html>
