.cursor {
	position:fixed;
	top:0;
	left:0;
	transform: translate(-50%,-50%);	
	width: 180px;
	height: auto;
	aspect-ratio: 1 / 1;
	pointer-events:none;
	mix-blend-mode: exclusion;
	z-index: 2;
	@media (hover: none) and (pointer: coarse) { //모바일, 태블릿
		display: none;
	}
	&-circle {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 130px;
		height: 130px;
		background-color: #E07D9B;
		opacity: .8;
		border:1px solid #E07D9B;
		border-radius:50%;
	}
	&-svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 180px;
		height: 180px;
		fill: #cfcfcf;
	}
	&-text {
		font-family: "Noto Sans", sans-serif;
		font-size: 12px;
		letter-spacing: 1.4px;
		transform-origin: 90px 90px;
		@media (hover: hover) and (pointer: fine) {
			animation: rotate-text 10s linear infinite;
		}
	}
}