.cursor {
	position:fixed;
	width: 180px;
	height: 180px;
	pointer-events:none;
	mix-blend-mode: exclusion;
	z-index: 2;
	@media (hover: hover) and (pointer: fine) {
		top:0;
		left:0;
		transform: translate(-50%,-50%);
	}
	@media (hover: none) and (pointer: coarse) {
		top: 50%;
		right: -60px;
		transform: translateY(-50%);			
	}
	&-circle {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 130px;
		height: 130px;
		background-color: #E07D9B;
		opacity: .8;
		border:1px solid #E07D9B;
		border-radius:50%;
	}
	&-svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 180px;
		height: 180px;
		fill: #cfcfcf;
	}
	&-text {
		font-family: "Noto Sans", sans-serif;
		font-size: 12px;
		letter-spacing: 1.4px;
		transform-origin: 90px 90px;
		animation: rotate-text 10s linear infinite;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.common {
	}
}

@media screen and (max-width: 768px) {
	.cursor {
		width: 120px;
		height: 120px;
		&-circle {
			width: 80px;
			height: 80px;
		}
		&-svg {
			width: 120px;
			height: 120px;
		}
	}
}