.gnb {
	position: sticky;
	top: 0;
	height: var(--gnb-height);
	z-index: 10;
	backdrop-filter: blur(3px);
	border-bottom: 1px solid var(--black);
	box-shadow: 1px 1px 0px 0 #c8c8c8;
	&__wrap {
		display: flex;
		align-items: center;
		padding: 0 20px;
		height: 100%;
		@media screen and (min-width: 1025px) {
			max-width: 1920px;
			margin: auto;
		}
	}
	&__button {
		min-width: 100px;
		margin: 0 5px;
		padding: 15px;
		border-radius: 10px;
		border: 0;
		background-color: #ad6f81;
		transition: padding .3s;
		cursor: pointer;
		&.is-active {
			filter: invert(1);
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.gnb {
		height: var(--gnb-height-tb);
		&__button {
			min-width: 90px;
			padding: 10px;
			border-radius: 5px;
			font-size: 12px;
		}
	}
}
	
@media screen and (max-width: 768px) {
	.gnb {
		height: var(--gnb-height-mo);
		&__button {
			min-width: auto;
			padding: 10px;
			font-size: 12px;
			background: transparent;
			color: #ad6f81;
			font-weight: 700;
		}
	}
}