.component-hover {
    &__inner {
        display: flex;
        max-width: 1440px;
        @media screen and (max-width: 1440px) {
            max-width: 1024px;
        }
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
    }
    &__button {
        width: 100%;
        height: 100%;
        background-color: transparent;
		background-image: url(../images/noise.svg);
        border: 0;
        cursor: pointer;
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 800px;
        @media screen and (max-width: 1440px) {
            height: 700px;
        }
        margin: 5px;
        border-radius: 18px;
        overflow: hidden;
        background-image: radial-gradient(circle, rgb(255 255 255 / 66%) 1%, rgba(255, 255, 255, 0.0901960784) 50%, #00000024 100%);
        @media screen and (min-width: 768px) {
            transition: flex .6s;
            flex: 1;
            &.is-active {
                flex: 20%;
            }
        }
        &--blue {
            background-color: #6ea8c1;
        }
        &--purple {
            background-color: #a697b8;
        }
        &--starlight {
            background-color: #d8b493;
        }
        &--orange {
            background-color: #d49883;
        }
    }
    &__image {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%) rotate(10deg);
        transition: top 1.2s, transform 1.2s;
        .is-show & {
            top: 50%;
            transform: translate(-50%, -50%) rotate(10deg);
        }
        .is-active & {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    &__bg {
        display: flex;
        flex-direction: column;
            opacity: 0;
            transform: scale(0);
            .is-active & {
                opacity: 1;
                transform: scale(1);
                transition: opacity .6s, transform .6s;
            }
        &-text {
            font-size: 120px;
            line-height: 1;
            font-weight: bold;
            color: #333;
            letter-spacing: -.05em;
            &--stroke {
                color: transparent;
                -webkit-text-stroke-color: #333;
                -webkit-text-stroke-width: 1px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
	.component-hover {
        &__inner {
            padding: 0 24px;
        }
        &__box {
            height: 580px;
        }
	}
}
@media screen and (max-width: 768px) {
	.component-hover {
        &__inner {
            flex-direction: column;
            max-width: 360px;
        }
        &__box {
            height: 120px;
            transition: height .6s;
            &.is-active {
                height: 360px;
            }
        }
        &__image {
            width: auto;
            height: 90%;
            img {
                width: auto;
                height: 100%;
            }
        }
	}
}

