.component-kv {
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: anchor-center;
		background-color: #d1d6d8;
	}
	&__headline {
		height: 252px;
		@media screen and (min-width: 1920px) {
			height: 315px;
		}
		&-position {
			position: absolute;
			display: flex;
    		justify-content: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			&--bottom {
				.component-kv__headline-text {
					transform: scaleY(0);
					transform-origin: bottom;
				}
			}
			&--top {
				.component-kv__headline-text {
					transform-origin: top;
				}
			}
		}
		&-text {
			position: relative;
			display: inline-block;
			font-size: 280px;
			line-height: 1;
			font-family: "Fjalla One", sans-serif;
			letter-spacing: -.03em;
			transition-duration: .2s;
			@media screen and (min-width: 1920px) {
				font-size: 350px;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024) {
	
}
	
@media screen and (min-width: 768px) {

}