.component-kv {
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: anchor-center;
		background-color: #c4c6c7;
		background-image: url(../images/noise.svg);
	}
	&__eyebrow {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		grid-column: 1;
		grid-row: 1;
		&-skills-item {
			display: inline-block;
			text-align: right;
			line-height: 1.3;
		}
	}
	&__headline {
		position: relative;
		display: grid;
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 100vw;
			border-bottom: 1px solid var(--black);
			transform: translateX(-50%);
		}
		&-position {
			display: flex;
    		justify-content: center;
			grid-column: 1;
			grid-row: 2;
			width: 100%;
			padding: 10px 0;
			&--bottom {
				.component-kv__headline-text {
					transform: scaleY(0);
					transform-origin: bottom;
				}
			}
			&--top {
				.component-kv__headline-text {
					transform-origin: top;
				}
			}
		}
		&-text {
			position: relative;
			display: inline-block;
			font-size: 280px;
			line-height: 1;
			font-family: "Fjalla One", sans-serif;
			color: var(--black);
			letter-spacing: -.03em;
			transition-duration: .2s;
			@media screen and (min-width: 1920px) {
				font-size: 350px;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.component-kv {
		&__headline {
			&-text {
				font-size: 180px;
			}
		}
	}
}
	
@media screen and (max-width: 768px) {
	.component-kv {
		&__headline {
			&-text {
				font-size: 22vw;
			}
		}
	}
}