.component-kv {
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: anchor-center;
		background-color: #c4c6c7;
		background-image: url(/images/noise.svg);
	}
	&__eyebrow {
		grid-column: 1;
		grid-row: 1;
	}
	&__headline {
		display: grid;
		border-bottom: 1px solid #222;
		@media screen and (min-width: 1920px) {
			height: 360px;
		}
		&-position {
			display: flex;
    		justify-content: center;
			width: 100%;
			grid-column: 1;
			grid-row: 2;
			&--bottom {
				.component-kv__headline-text {
					transform: scaleY(0);
					transform-origin: bottom;
				}
			}
			&--top {
				.component-kv__headline-text {
					transform-origin: top;
				}
			}
		}
		&-text {
			position: relative;
			display: inline-block;
			font-size: 280px;
			line-height: 1;
			font-family: "Fjalla One", sans-serif;
			color: #222;
			letter-spacing: -.03em;
			transition-duration: .2s;
			@media screen and (min-width: 1920px) {
				font-size: 350px;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.component-kv {
		&__headline {
			height: 200px;
			&-text {
				font-size: 180px;
			}
		}
	}
}
	
@media screen and (max-width: 768px) {
	.component-kv {
		&__headline {
			height: 25vw;
			// @include vw-convert-mo(height, 91);
			&-text {
				font-size: 22vw;
			}
		}
	}
}