.component-kv {
	background: linear-gradient(178deg, #605171 1%, #30304e 70%, var(--black) 100%);
	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		// background-image: url(../images/noise.svg);
	}
	&__eyebrow {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		grid-column: 1;
		grid-row: 1;
		&-skills-item {
			display: inline-block;
			text-align: right;
			line-height: 1.3;
			color: var(--pink);
		}
		&-job, span {
			color: var(--pink);
		}
	}
	&__headline {
		position: relative;
		display: grid;
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 100vw;
			border-bottom: 1px solid var(--pink);
			transform: translateX(-50%);
		}
		&-position {
			display: flex;
    		justify-content: center;
			grid-column: 1;
			grid-row: 2;
			width: 100%;
			padding: 10px 0;
			font-size: 280px;
			@media screen and (max-width: 1280px) {
				font-size: 260px;
			}	
			@media screen and (min-width: 1920px) {
				font-size: 350px;
			}
			&--bottom {
				.component-kv__headline-text {
					transform: scaleY(0);
					transform-origin: bottom;
				}
			}
			&--meddle {
				.component-kv__headline-text {
					transform: scaleY(0);
					transform-origin: bottom;
				}
			}
			&--top {
				.component-kv__headline-text {
					transform-origin: top;
				}
			}
		}
		&-text {
			position: relative;
			display: inline-block;
			line-height: 1.2;
			font-family: "Fjalla One", sans-serif;
			color: var(--pink);
			    font-size: inherit;
			letter-spacing: -.02em;
			transition-duration: .2s;
			will-change: transform;
		}
	}
	&__image {
		z-index: -1;
		position: absolute;
		top: 3vw;
		left: 50%;
		width: 100%;
		height: 100%;
		max-width: 1920px;
		transform: translateX(-50%);
		&-cloud {
			display: flex;
			flex-direction: column;
			&-1 {
				margin-left: -20vw;
			}
			&-2 {
				margin-left: 57vw;
				margin-top: -15vw;
				width: 110vw;
			}
			&-3 {
				margin-top: 35vw;
				margin-left: -38vw;
				transform: scale(1.5);
			}
		}
	}	
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.component-kv {
		&__headline {
			margin-top: 40px;
			&-position {
				font-size: 180px;
			}		
		}
	}
}
	
@media screen and (max-width: 768px) {
	.component-kv {
		&__headline {
			margin-top: 30px;
			&-position {
				font-size: 24vw;
			}
		}
		&__description {
			width: 100%;
			margin-top: auto;
			padding: 4%;
			background-color: var(--pink);
			white-space: nowrap;
			mix-blend-mode: exclusion;
			font-size: 2.8vw;
		}
		&__image {
			// position: relative;
		}
	}
}