.component-overview {
	position: relative;
	overflow-x: hidden;
	touch-action: pan-y;
	&__container {
		position: relative;
        width: var(--slide-width);
		@media screen and (min-width: 1920px) {
			width: var(--slide-width-large);
		}		
		margin: 0 auto;
	}
	&__slide {
        width: var(--slide-width);
		min-height: 680px;
        border-radius: 20px;
		@media screen and (min-width: 1920px) {
			width: var(--slide-width-large);
		}
		margin-right: 120px; 
		&-title {
			position: absolute;
    		bottom: 100%;
            font-size: 40px;
            line-height: 1.5;
		}
		&-headline {
			position: relative;
			z-index: 1;
			width: var(--slide-width);
			display: block;
			margin-right: auto;
			margin-left: auto;
			&-num {
				position: relative;
				bottom: -80px;
				line-height: 1;
				font-size: 230px;
				color: #fff !important;
				font-family: "Fjalla One", sans-serif;
			}
			&-title {
				color: #fff !important;
				top: 100px;
				left: 20px;
				font-size: 32px;
			}
		}
		&-content {
			position: relative;
			display: grid;
			height: 100%;
		}
		&-image {
			&--main,
			&--bg {
				display: flex;
				grid-column: 1;
    			grid-row: 1;
       			border-radius: 20px;
				overflow: hidden;
			}
			&--main {
				z-index: 1;
				flex-direction: column;
				justify-content: center;
			}
			&--active {
				position: absolute;
				bottom: 0;
				transform: scale(0);
				transition: bottom .6s, transform .6s;
				.is-active & {
					bottom: 40%;
					transform: scale(1);
				}
			}
		}
		&-text {
			width: 60%;
			height: auto;
			margin: 60px auto;
			padding: 20px 12px;
			background-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(20px);
			border-radius: 30px;
			box-shadow: 2px 2px 10px #33333378;
			overflow: hidden;
		}
	}
	&__navigation {
        width: calc(var(--slide-width) + 60px);
		@media screen and (min-width: 1920px) {
			width: calc(var(--slide-width-large) + 60px);
		}
	}
	&__arrow {
		width: 50px;
		height: 50px;
		border: 1px solid var(--black);
	}
	.js-carousel-bullet {
		width: 28px;
		height: 40px;
		background: transparent;
		border-right: 1px solid #fff;
		transition: width .6s;
		&.is-active {
			width: 120px;
		}
		&:first-child {
			border-left: 1px solid #fff;
		}
	}
}

@media screen and (max-width: 1024px) {
	.component-overview {
		&__container {
			width: var(--slide-width-medium);
		}
		&__slide {
			width: var(--slide-width-medium);
			min-height: 400px;
			margin-right: 30px;
			&-headline {
				width: var(--slide-width-medium);
				&-num {
					bottom: 0;
					font-size: 120px;
				}
				&-title {
					font-size: 16px;
					line-height: 1.6;
				}
			}
			&-text {
				margin: 30px auto;
			}
		}
		&__navigation {
			width: calc(var(--slide-width-medium) + 60px);
		}
	}
}

@media screen and (max-width: 768px) {
	.component-overview {
		&__container {
            width: var(--mo-wrap);
		}
		&__slide {
			aspect-ratio: 3/4;
            border-radius: 24px;
			aspect-ratio: 3/4;
            margin-right: 20px;
			font-size: 20px;
			&-headline {
				display: flex;
				flex-direction: column;
				max-width: 300px;
				margin: auto;
				&-num {
					font-size: 70px;
				}
				&-title {
					font-size: 14px;
					line-height: 1.6;
				}
			}
			&-content {
				position: relative;
			}
			&-text {
				width: 80%;
				min-height: 50%;
				padding: 12px;
				border-radius: 20px;
			}
		}
		&__navigation {
            width: 340px;
		}
		&__arrow {
            width: 30px;
            height: 30px;
		}
	}
}

